.card-3 { 
  font-family: "Manrope", sans-serif;
  text-align: center;
  font-size: .93rem;
  max-width: 69rem;
}


.card-3__img-tablet, .card-3__img-desktop 
{
    display: none;
}

.card-3__img-mobile 
{
    width: 100%;
    object-fit: cover;
}

.card-3__body {
    padding: 2rem 0 0;
}
.card-3__subhead
{
    color: #D87D4A;
    font-size: .93em;
    letter-spacing: .71em;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

.card-3__title {
    font-size: 1.86em;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

.card-3__desc {
    opacity: 50%;
    line-height: 1.6;
    margin-bottom: 1.5rem;
}

.card-3__btn {
    background-color: #D87D4A;
    border:none;
    padding: .93rem 1.86rem;
    font-size: .86em;
    color: #FFFFFF;
    font-weight: bold;
    font-family: inherit;
    text-transform: uppercase;
    transition: background-color 300ms;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.card-3__btn:hover, .card-3__btn:focus {
    background-color: #FBAF85;
}


@media(min-width:768px)
{
    .card-3__img-mobile {
        display: none;
    }

    .card-3__img-tablet {
        display: block;
        width: 100%;
        object-fit: cover;
    }

    .card-3__body {
        padding: 3.25em min(3.6rem) 0;
    }

    .card-3__title {
        font-size: 2.66em;
    }
}

@media(min-width:1200px)
{
    .card-3 
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .card-3__img-tablet {
        display: none;
    }

    .card-3__img-desktop {
        display: block;
        object-fit: cover;
        width: 48.6%;
    }

    .card-3__body 
    {
        padding: 6.8rem 0;
        text-align: left;
        width: 40%;
    }

    .card-3__btn {
        margin: 0;
    }
}